<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Budget (€)</th>
    </tr>
  </thead>
  <tbody>
  <for|budget| of=input.budgetList>
    <tr key=budget.id onclick=`document.location = '/budgets/${budget.id}';`>
        <td>${budget.name}</td>
        <td>${budget.description}</td>
        <td>${budget.budget}</td>
    </tr>
  </for>
  </tbody>
</table>
