<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Montant (€)</th>
    </tr>
  </thead>
  <tbody>
  <for|expense| of=state.expenseList>
    <tr key=expense._id onclick=`document.location = '/expenses/${expense._id}';`>
        <td>${expense.name}</td>
        <td>${expense.date}</td>
        <td>${expense.amount}</td>
    </tr>
  </for>
  </tbody>
</table>
