<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Montant (€)</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
  <for|expense| of=input.expenseList>
    <tr key=expense.id onclick=`document.location = '/expenses/${expense.id}';`>
        <td>${expense.name}</td>
        <td>${expense.date}</td>
        <td>${expense.amount}</td>
        <td>${expense.type}</td>
    </tr>
  </for>
  </tbody>
</table>
