<site-layout>
  <@content>
    <h3>${input.expense.name}</h3>
    <p>${input.expense.comment}</p>
    <div>Amount: ${input.expense.amount}</div>
    <div>Date: ${input.expense.date}</div>
    <div>Type: ${input.expense.type}</div>
    <div>BudgetLine: ${input.expense.budgetLine}</div>
  </@content>
</site-layout>
