<site-layout>
  <@content>
    <h3>${input.budget.name}</h3>
    <p>${input.budget.description}</p>
    <div>Available: ${input.budget.budget} €</div>
    <div>Period: ${input.budget.period}</div>
    <div>Start Date: ${input.budget.startDate}</div>

    <div>
      <h4>Expenses</h4>
      <expense-list expenseList=input.budgetExpenses/>
    </div>
  </@content>
</site-layout>
