<div class="row">
  <form class="col s12" action="#">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate" on-input("setEmail")>
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input id="password" type="password" class="validate" on-input("setPsw")>
      <label for="password">Password</label>
    </div>
    <a class="waves-effect waves-light btn-small right" on-click("login")>Login</a>
  </form>
</div>
